<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movies:{{moviename}}</title>
  </head>
  <link rel="stylesheet" href="{%static 'mystyle.css'%}">
  <body>

    <div class="container">
      <h1>Movie Detail Page</h1>
      <p>Movie Name : {{moviename}}</p>
      <p>Movie Release Date : {{moviename}}</p>
      <p>Movie Genre: {{genre}}</p>
      <p>Movie IMDB rating : {{rating}}</p>
      <p>Movie Metascore: {{metascore}}</p>
      <p>Plot: {{Plot}}</p>
    </div>
  </body>
</html>
